/* remove default CSS styling */
*{

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* general settings for all body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(32, 32, 211);
 
 
  
}
/* header styling */
header{
    background-color: rgb(91, 64, 64);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 60px;
    position: relative;
    
    

}

 header h1{

    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 30px;
  
}
header nav{
 position: absolute;
 top: 50px;
 
 
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    align-items: flex-start;
    padding: 10px;
    font-size: 16px;
    margin: 20px 20px 0 0px;
    margin-right: 150px;
    margin-left: 60px;
}

header a{
    color: blueviolet;
}
header nav ul li a:hover{
color: rgb(39, 27, 117);
}
 
.hero{
background-size: cover;
display: flex;
background-position: center;
height: 700px;
justify-content: space-around;
position: relative;
height: 130vh;
left: 10px;

}

 .fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 100px;
    
    
  }
 
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);  }
 #first-greeting{
    position: absolute;
    top: 20px;
    left: 0;

   
 }
 .fa-github{
    background-color: rgb(76, 67, 67);
    color: black;
 }

 #first-greeting{

margin: 0px;
padding: 10px;
position: relative;
left: 80px;
 }

 #first-greeting h2{
    margin-bottom:10px;
 }
 

 #first-greeting p{
    margin-top: 10px;
   margin-bottom: 20px;
    position: relative;
    right:  100px; 
    position: relative;
    right: 90px;
 }

 #about{
 margin-top: 30px;
    position: absolute;
    top: 150px;
    left: 250px;

 }
 #about img{
    position: absolute;
    right: 1200px;
 }
.start-dev-journey{
    text-decoration-thickness: 20PX;
}

#skills{
    margin-left: 20px;
    position: absolute;
    left: 0;
    top: 530px;
}

#projects{
    position: absolute;
    left: 0;
    top: 700px;
}

#contact{
    position: absolute;
    left: 0;
    top: 900px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
font-size: 20px;
    background-color:rgb(91, 64, 64) ;
    position: relative;
    height: 90px;
    margin-bottom: 0px;
   
    
}
.personal-info{
    position: absolute;
    left: 0;
    top: 10px;
}
.links{
    display: flex;
    position: absolute;
    left: 500px;
    top: 5px;
}
.get-in-touch{
    position: absolute;
    right: 70px;
    top: 10px;
}

.links a{
color: rgb(32, 32, 211);
position: relative;
top: 25px;
right: 65px;
margin-right:20px ;

}